body {
  margin: 20px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}




.App {
  text-align: center;
  width: 400px;
  height: 800px;
  box-shadow: 3px 3px 3px 2px hsl(0, 0%, 80%);
  background-color: white;
}



#navbar {
  background-color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* example */
.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


